<!-- Step 10: Show a carousel of featured restaurants -->
<!-- Use the carousel directive from the ui.bootstrap module -->
<!-- See http://angular-ui.github.io/bootstrap/#/carousel for an explanation on how to implement it -->
<!-- The inner part is already given in de definition below -->

<!-- Inner part of a 'slide' in the carousel -->
        <!--<img> --> <!--show the banner of a featured restaurant &ndash;&gt;-->

        <!--<div class="carousel-caption">-->
            <!--<h1> show the name of a featured restaurant</h1> -->

            <!--<p>Show the promotion text of a featured restaurant</p> -->

            <!-- Link to the restaurant detail page -->
            <!--<a href="">Meer</a>-->
        <!--</div>-->
<!-- End of the inner part of a 'slide' -->

<div class="container">

    <div class="row col-md-12 heading-section">
        <h2>Alle restaurants</h2>
        <img src="images/under-heading.png">
    </div>

    <div class="row">
        <!-- Step 3: Show the list of restaurants -->
        <!-- Repeat the below div and list the restaurants -->
        <div class="col-sm-4">

            <div class="restaurant" ng-mouseenter="showExtraInfo(restaurant.code)"
                 ng-mouseleave="hideExtraInfo(restaurant.code)">

                <!-- Step 3: Show the lists of restaurants -->
                <!-- This link should lead to the restaurant detail page -->
                <a href="">

                    <!-- Step 3: Show the lists of restaurants -->
                    <!-- Show the image of the restaurant (its in the thumbPath property) -->
                    <img />

                    <div class="content">
                        <!-- Step 3: Show the lists of restaurants -->
                        <h4><!-- Show the name of the restaurant--></h4>
                        <span><!-- Show the tagline of the restaurant --></span>
                    </div>
                </a>

            </div>

        </div>
    </div>

</div>
