<div class="container">
    <div class="heading-section">
        <!-- Step 4: Show details of restaurant -->
        <h2><!-- Show the name of the restaurant --></h2>
        <img src="images/under-heading.png"/>
    </div>

    <div class="container">
        <div class="col-md-8 restaurant-details">
            <!-- Step 4: Show details of restaurant -->
            <img/> <!-- Show the image of the restaurant (it is 'detailPath') -->
            <h3><!-- Show the tag line of the restaurant --></h3><h4><!-- Show the location of the restaurant --></h4>
            <p><!-- Show the long description of the restaurant --></p>
        </div>

        <div class="col-md-4 reservation-bar">
            <h4>Reserveren?</h4>

            <!-- Step 6: Make reservation -->
            <label for="numberOfPersons">Met hoeveel personen komt u?</label>
            <!-- Bind the number of persons -->
            <input id="numberOfPersons" type="number" placeholder="Aantal personen"
                   class="form-control"/>

            <label for="onDate">Op welke datum?</label>

            <!-- Bind the selected date -->
            <input id="onDate" type="text" class="reservationDate form-control"
                   datepicker-popup="{{'dd-MM-yyyy'}}"
                   ng-model="reservationDate" is-open="showingDatePopup"
                   close-text="Sluiten"/>

            <button type="button" class="btn btn-default openDatePicker"
                    ng-click="showDatePopup($event)"><i
                    class="glyphicon glyphicon-calendar"></i></button>

            <!-- The below span should only be visible when its possible to make a reservation -->
            <span>Reserveren is mogelijk</span>

            <!-- The below span should only be visible when its NOT possible to make a reservation -->
            <span>Reserveren is helaas niet mogelijk</span>

            <!-- This button should make the actual reservation -->
            <!-- It should only be enabled if its actual possible to make a reservation for the selected date and the inputted amount of persons -->
            <button type="submit" class="btn btn-default makeReservation">
                    Reserveer
            </button>

            <!-- The below span should only be visible if a reservation is made -->
            <span>Reservering gemaakt</span>
        </div>
    </div>

    <div class="container">
        <div class="heading-section">
            <h2>Honger gekregen?</h2>
            <img src="images/under-heading.png">
        </div>
        <div class="col-md-12">
            <!-- Step 5: Show the dishes of a restaurant-->
            <!-- The below div should be repeated -->
            <div class="col-md-3 dishes-overview ">
                <div class="wrapper">
                    <!-- Step 5: Show the dishes of a restaurant-->
                    <!-- Show the image beloning to the dish -->
                    <img src/>

                    <div class="hover"></div>
                    <h3><!-- Show the name of the dish --></h3>
                    <span class="text-category"><!-- Show the price of the dish --></span>
                </div>
            </div>
        </div>
    </div>

</div>
