
<div class="row content">
    <h1>{{restaurant.name}}</h1>

    <div class="left">
        <img ng-src="{{restaurant.image}}"/>
    </div>

    <div class="right">
        <img ng-if="showMap()" ng-src="https://maps.googleapis.com/maps/api/staticmap?center={{googleFriendlyAddress}},Nederland&zoom=15&size=320x240&sensor=false&markers=color:red|{{googleFriendlyAddress}},Nederland&key=AIzaSyBTdEW3Qo_ij4pNczM84zoplz9Exa4rdWc"/>
    </div>

    <p>{{restaurant.description}}</p>

    <a href="/#/" class="glyphicon glyphicon-arrow-left back">&nbsp;Back to the restaurant overview!</a>
</div>