<div class="row">
    <div class="col-md-12 details">
        <h2><!-- Name of the dish --></h2>

        <div class="thumb">
            <!-- Image of the dish -->
            <span class="price"><!-- Price of the dish, can you show the euro symbol in front of it? --></span>

            <!-- Optional 1: Show an image of the seal of vegetarian if the dish is vegetarian. There is / are directives for conditional content -->
            <!-- The source of the vegetarian seal = "images/vegetarian.png" -->
            <img class="seal">
        </div>

        <p><!-- Description of the dish --></p>

        <a href="/#/" class="glyphicon glyphicon-arrow-left back">&nbsp;Back to the menu!</a>
    </div>
</div>
