<div class="row menu">
    <div class="col-md-12 text-center">
        <h1>Menu</h1>
    </div>

    <ul class="no-indent">
        <!-- List all the different dishes -->
        <li class="col-md-4 dish">
            <a href=""> <!-- This href should lead to the details of the dish -->
                <div class="detail">
                    <!-- Show the image of the dish -->
                    <h2><!-- Show the name of the dish --></h2>
                    <p><!-- Show the price of the dish --></p>
                </div>
            </a>
        </li>
    </ul>
</div>

<!-- Optional 2: Toggle the dish statistics -->

<div class="row">
    <!-- This button should do the toggeling -->
    <button class="btn btn-primary">Toggle statistics</button>
</div>

<!-- the block below should be toggled completely, there is a directive for conditonals -->
<div class="row statistics">
    <h2>Statistics</h2>
    <ul class="no-indent" class="col-md-8">
        <li>Total number of dishes: <!-- Show the total number of dishes --></li>

        <!-- Optional 3: Think of a method to show the number of dishes in the different courses -->
        <!-- Hint: You should write some helper function in the controller -->
        <li>Number of starters: </li>
        <li>Number of mains: </li>
        <li>Number of desserts: </li>
    </ul>
</div>