<div class="row">
    <div class="col-md-12 details">
        <h2>{{dish.name}}</h2>

        <div class="thumb">
            <img ng-src="{{dish.img}}"/>
            <span class="price">{{dish.price | currency:"&euro;"}}</span>
            <img src="images/vegetarian.png" ng-if="dish.vegetarian" class="seal">
        </div>

        <p>{{dish.description}}</p>

        <a href="/#/" class="glyphicon glyphicon-arrow-left back">&nbsp;Back to the menu!</a>
    </div>
</div>
