<div class="row menu">
    <div class="col-md-12 text-center">
        <h1>Menu</h1>
    </div>

    <ul class="no-indent">
        <li class="col-md-4 dish" ng-repeat="dish in dishes">
            <a href="#/{{dish.id}}">
                <div class="detail">
                    <img ng-src="{{dish.img}}"/>
                    <h2>{{dish.name}}</h2>
                    <p>
                        {{dish.price | currency:"&euro;"}}
                    </p>
                </div>
            </a>
        </li>
    </ul>
</div>

<div class="row">
    <button class="btn btn-primary" ng-click="toggleStatistics()">Toggle statistics</button>
</div>

<div class="row statistics" ng-if="statisticsVisible">
    <h2>Statistics</h2>
    <ul class="no-indent" class="col-md-8">
        <li>Total number of dishes: {{totalNrOfDishes}}</li>
        <li>Number of starters: {{nrOfDishesOfCourse('starter')}}</li>
        <li>Number of mains: {{nrOfDishesOfCourse('main')}}</li>
        <li>Number of desserts: {{nrOfDishesOfCourse('dessert')}}</li>
    </ul>
</div>