<input type="text" ng-model="search" class="search-query" placeholder="Search for a dish">
<hr/>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="dish in dishes | filter:search | orderBy:'-name'">
        <td>
            <!-- Step 8 Edit Dish
                 Make this a link, that links to the edit page with the id of the dish
            -->
            {{dish.name}}
        </td>
        <td>
            {{ dish.description }}
        </td>
        <td>
            <!-- Step 7. Delete a dish,
                 This link must remove the dish from the list and refresh the content of the page.
            -->
            <a class="btn btn-danger">X</a></td>
    </tr>
    </tbody>
</table>
<!-- Step 2 Add a dish.
    This link must navigate to the partial 'edit.html.
-->
<a class="btn btn-primary btn-lg active" role="button">New</a>
