<form name="dishForm" role="form" class="form-horizontal">
    <fieldset>
        <legend>{{title}}</legend>

        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>

            <div class="col-sm-10">
                <input id="name"
                       name="name"
                       class="form-control"
                       type="text"
                       required="required"
                       size="40"
                       maxlength="40"
                       placeholder="Name of the dish">
                </input>
            </div>
        </div>

        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>

            <div class="col-sm-10">
            <textarea id="description"
                      class="form-control"
                      rows="5" cols="40"
                      required="required"
                      placeholder="Description of the dish">
            </textarea>
            </div>
        </div>


        <div class="form-group">
            <label for="price" class="col-sm-2 control-label">Price</label>

            <div class="col-sm-2">
                <input id="price"
                       class="form-control"
                       type="number"
                       min="1"
                       max="100"
                       required="required"
                       placeholder="Price">
                </input>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label for="vegetarian">
                        <input id="vegetarian"
                               class="form-control"
                               type="checkbox">
                        </input>
                        Vegetarian
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="type" class="col-sm-2 control-label">Type</label>
            <div class="col-sm-2">
                <select id="type"
                        class="form-control"
                        required="required">
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="style" class="col-sm-2 control-label">Style</label>
            <div class="col-sm-4">
                <select id="style"
                        class="form-control"
                        required="required">
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a href="#/" class="btn">Cancel</a>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>



    </fieldset>
</form>
