
<div class="row content">
    <h1><!-- Name of the selected restaurant--></h1>

    <div class="left">
        <!-- Image of the restaurant -->
    </div>

    <div class="right">
        <img ng-if="showMap()" ng-src="https://maps.googleapis.com/maps/api/staticmap?center={{googleFriendlyAddress}},Nederland&zoom=15&size=320x240&sensor=false&markers=color:red|{{googleFriendlyAddress}},Nederland&key=AIzaSyBTdEW3Qo_ij4pNczM84zoplz9Exa4rdWc"/>
    </div>

    <p><!-- Description of the restaurant --></p>

    <a href="/#/" class="glyphicon glyphicon-arrow-left back">&nbsp;Back to the restaurant overview!</a>
</div>