
<div class="row content">
    <h1>Restaurants</h1>

    <ul>
        <li><!-- List all the restaurants here, the link should point to /#/:code --><a href=""><!-- Name of the restaurant --></a></li>
    </ul>
</div>