$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

$primary-color: #f78e21;
$gray: #666;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {

}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    //max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

// general rules
a {
  text-decoration: none;
  color: $primary-color;

  &:hover {
    text-decoration: none;
    color: $primary-color;
  }
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: $gray;
}

label {
  margin-top: 10px;
}

.heading-section {
  text-align: center;
  padding: 0 0 45px 0;

  h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
  }
}

header {
  .logo {
    padding: 5px 15px;

    a {
      img {
        float: left;
      }

      span {
        float: left;
        margin: 10px;
        color: $primary-color;
        text-decoration: none;
        font-size: 30px;
        font-weight: bold;
      }
    }
  }

  .search-box {
    margin-top: 18px;
    position: relative;

    input[type="submit"] {
      margin-top: 0px;
      background-color: transparent;
      position: absolute;
      width: 34px;
      height: 34px;
      right: 15px;
      top: 0;
      border: 0;
      content: '';
      color: transparent;
      background: url(../images/search-icon.png);
      background-position: center;
      background-repeat: no-repeat;
    }

  }
}

.carousel-inner > .item {
  img {
    width: 100%;
  }

  .carousel-caption {
    top: 25%;

    h1 {
      text-shadow: 3px 3px #777;
      font-size: 48px;
      padding-bottom: 10px;
      font-weight: 500;
      color: $primary-color;
      text-transform: uppercase;
    }

    p {
      font-size: 18px;
      font-weight: 300;
      color: #fff;
      line-height: 15px;
      font-family: sans-serif;
    }

    a {
      margin-top: 20px;
      text-decoration: none;
      display: inline-block;
      background-color: $primary-color;
      width: 200px;
      height: 40px;
      text-align: center;
      color: #fff;
      line-height: 40px;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 600;
      text-shadow: 0 0;
    }
  }
}

.restaurant {
  position: relative;
  margin-bottom: 30px;

  img {
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    padding: 15px;

    h4 {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
    }

    span {
      color: $primary-color;
    }
  }
}

.restaurant-details {
  img {
    width: 100%;
  }

  h3 {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    display: inline-block;
    margin-right: 20px;
    border-right: 1px solid #ddd;
    padding-right: 20px;
  }

  h4 {
    display: inline-block;
    font-size: 13px;
    color: $primary-color;
  }

  p {
    margin-top: 5px;
    padding-bottom: 15px;
  }
}

.reservation-bar {
  h4 {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background-color: $primary-color;
    margin-top: 0px;
    padding: 9px 15px 9px 15px;
  }

  label {
    clear: left;
    float: left;
  }

  span {
    clear: left;
    float: left;
    margin-top: 10px;
  }

  .reservationDate {
    width: 86%;
    float: left;
    clear: left;
  }

  .openDatePicker {
    float: right;
  }

  button[type="submit"] {
    float: left;
    clear: left;
    margin-top: 10px;
  }
}

.dishes-overview {
  display: inline-block;
  padding: 0;

  .wrapper {
    overflow: hidden;

    img {
      position: relative;
      width: 100%;
    }

    h3 {
      margin: 10px 0 2px 0;
      font-size: 16px;
      font-weight: 700;
      color: #333;
      text-transform: uppercase;
    }

    span {
      color: #777;
      text-transform: uppercase;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      display: block;
      color: $primary-color;
    }

    .hover {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      visibility: hidden;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.4);
    }

    &:hover .hover {
      visibility: visible;
      opacity: 1;
      transition: all 0.3s ease-in;
    }
  }
}

footer {
  background-color: #f3f3f3;
  border-top: 4px solid $primary-color;
  margin-top: 120px;

  h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    padding-bottom: 20px;
  }

  .bottom-footer {
    float: left;
    clear: left;
    text-align: left;
    padding: 60px 0 15px 0;
  }
}
