$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

$border-color: #ddd;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url("../images/background.jpg");
  background-repeat: repeat;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.form-group {
  margin-bottom: 15px;
}

ul.no-indent {
  padding-left: 0;
  list-style: none;
}

.row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu {
  background-color: rgba(255, 255, 255, .5);
  border-radius: 5px;

  h1 {
    width: 100%;
  }

  li.dish {
    padding: 10px;

    .detail {
      background-color: #fff;
      border: 1px solid $border-color;
      border-radius: 5px;
      margin: 5px;
      float: left;

      img {
        width: 100%;
      }

      h2 {
        padding: 5px 10px;
        margin: 0;
        float: left;
        clear: left;
        font-size: 1em;
        font-variant: small-caps;
      }

      p {
        padding: 5px 10px 5px 10px;
        margin: 0;
        float: right;
      }
    }
  }
}

.statistics {
  background-color: rgba(255,255,255,.5);
  padding-left: 10px;
}

.details {
  background-color: rgba(255,255,255,.5);
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0;

  .thumb {
    position: relative;
    left: 0;
    right: 0;

    img {
      width: 100%;
      position: relative;

      &.seal {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 100px;
        height: 100px;

        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
      }
    }

    span.price {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 4em;
      background-color: rgba(255,255,255,.7);
      padding: 10px;
      border-radius: 5px;
    }
  }

  p {
    font-size: 1.5em;
    padding: 10px 0;
  }

  a.back {
    font-size: 1.2em;
    padding-bottom: 10px;
  }
}
