<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Dini.ng - Fine dining</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="styles/main.css">
</head>

<body ng-app ng-init="
dishes=[
{name:'Chicken Piri Piri', price: 15, vegetarian:false, course:'main',style:'Indian', img:'images/dishes/chicken_piri_piri.png'},
{name:'Vegie Cannelloni', price: 12.5, vegetarian:true, course:'main',style:'Italian', img:'images/dishes/vegie_cannelloni.png'},
{name:'Creme Brulee', price: 8, vegetarian:true, course:'dessert',style:'French', img:'images/dishes/creme_brulee.png'},
{name:'Pumpkin Soup', price: 5, vegetarian:true, course:'starter',style:'Dutch', img:'images/dishes/pumkin_soup.png'},
{name:'Secret Burger', price: 7, vegetarian:false, course:'main', style:'Fusion', img:'images/dishes/true_burger.png'}
];
">

<div class="container">

	<div class="row main">
		<div class="col-md-12 text-center">		
			<h2>Menu</h2>
		</div>

	<form role="form" class="filter">
		<div class="row">
			<div class="form-group col-md-8">
				<label for="query">Want something specific?</label>
				<input type="text" id="query" ng-model="query" class="form-control" placeholder="Start typing..."/>
			</div>
		</div>

		<div class="row">
			<div class="form-group col-md-4">
				<label for="course">Course</label>
				<select ng-model="filterCourse" id="course" class="form-control">
					<option value="">All</option>
					<option value="starter">Starter</option>
					<option value="main">Main</option>
					<option value="dessert">Dessert</option>
				</select>
			</div>

			<div class="form-group col-md-4">
				<label for="vegetarian">Vegetarian only?</label>
				<select ng-model="filterVegetarian" id="vegetarian" class="form-control">
					<option value="">Mjaw, doesn't matter</option>
					<option value="true">Yes of course!</option>
					<option value="false">Only meat for me!</option>			
				</select>
			</div>

			<div class="form-group col-md-4">
				<label for="vegetarian">Style</label>
				<select ng-model="filterStyles" id="style" class="form-control">
					<option value="">I eat everyting!</option>
					<option value="Indian">Indian</option>
					<option value="Italian">Italian</option>			
					<option value="Dutch">Dutch</option>			
					<option value="French">French</option>			
					<option value="Fusion">Fusion</option>			
				</select>
			</div>


		</div>
	</form>
    </div>

	<div class="row main">
		<ul class="no-indent">
			<li ng-repeat="dish in dishes 
			| filter:{name:query}
			| filter:{course:filterCourse}
			| filter:{vegetarian:filterVegetarian}
			| filter:{style:filterStyles}
			| orderBy:'name'" 
			class="col-md-4 dish">

			<div class="details">
			    <img ng-src="{{dish.img}}"/>
			    <h1>{{dish.name}}</h1>
			    <p>{{dish.price | currency:'&euro;'}}</p>
			</div>
		</li> 
	</ul>
</div>
</div>

<script src="bower_components/angular/angular.js"></script>

</body>
</html>
